.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  z-index: 1000;
}

.popup__content {
  min-width: 500px;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
}